<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title -%></title>
    <style><%= render partial: "flipflop/stylesheets/flipflop.css" %></style>
    <style><%= render partial: "flipflop/stylesheets/bootstrap.css" %></style>
    <style><%= render partial: "flipflop/stylesheets/dataTables.bootstrap4.min.css" %></style>
  </head>
  <body>
    <%= yield -%>
    <script><%= render partial: "flipflop/javascripts/jquery-3.3.1.js" %></script>
    <script><%= render partial: "flipflop/javascripts/jquery.dataTables.min.js" %></script>
    <script><%= render partial: "flipflop/javascripts/dataTables.bootstrap4.min.js" %></script>
    <script><%= render partial: "flipflop/javascripts/flip-feature.js" %></script>
  </body>
</html>
